.project-img{
    height: 300px;
    width: 400px;
    border-radius: 50px;
    object-fit: contain;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    
    
}
.project-contents{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 25px;
    margin: auto;
    margin-bottom: 40px;
    overflow-x: scroll;
    padding: 25px;
    /* border: 2px solid white; */
    transition: 1s;
    border-radius: 10px ;
    
}
.project-contents:hover{

    /* border: 2px solid #ff00ff; */
    /* background-image: linear-gradient(45deg,#3f0028,#582300); */
    transform:scale(1.01);
    transition:0.4s;
}
::-webkit-scrollbar{
    width: 5px;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(264deg,#DF8908 -5.09%, #B415FF 106.28%); 
    border-radius: 10px; 
  }

.projects-title h1{
    font-size: 80px;
    font-weight: 600;
}
.project-box{
    text-align: center;
}
.project-img{
    border: 2px solid ;
}
.project-img:hover{
    border: 2px solid #ff00ff;
    transition: 1s ease-in-out;
}

@media (max-width:768px) 
{
    .projects-title h1{
        font-size: 50px;
      
    }
    .project-img{
        height: 150px;
        width: 200px;
        border-radius: 50px;
    }
    .project-name{
        font-size: 20px;
    }
}
